.booksFront{
    display:flex;
    justify-content: space-around;
    margin-top: 100px;
    position: relative;
    height: 60vh;
    z-index: 2
}
.filterContainer{
    display: grid;
    justify-content: center;
    margin-bottom: 200px;
}
.filter{
    display: grid;
    justify-content: center;
    margin-top: 200px;
    border: 1px solid white;
    text-align: center;
    width: 500px;
}
filter h1{
    display: grid;
    justify-content: center
}
.booksContainer{
    display: grid;
    justify-content: center
}
.booksContainer button{
    background: white;
    border: none;
    font-size: 20px;
}